{% extends "base.html" %}
{%block title %} Home {%endblock%}
{%block main%}
    <article>
        <div id="posts">
            {%for post in object_list %}  
            <div class = "list">
                <h2>{{post.title}}</h3>
                <h5>{{post.date}}</h5>
                <div class="bodytext">
                    {% autoescape off %}  <!--Render post.body as html text-->
                        {{post.body}}
                    {% endautoescape %} 
                </div>
            </div>
            {%endfor%}
        </div>
    </article>
{%endblock%}