{%extends "base.html"%}

{% block title%}New Post {% endblock %}
{% block otherheaders %}
    <script src="https://cdn.tiny.cloud/1/56l1g83g0dfwc39wyjg1bg28o45gff63ne9a142lpzg7tchp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
    tinymce.init({
        selector: '#mytextarea',
        width: 1000,
    });
    </script>
{%endblock%}
{% block main%}
        <h2>New Blog Post</h2>
        <form action = "{% url 'blog:createPost' %}" method="post">
            {% csrf_token %}
            <div class = "input">
                <div class ="title">
                    Title <br><input type="text" name="title" autocomplete="off"><br>
                </div>
                <div class="text">
                    <textarea id="mytextarea" name="mytextarea"></textarea>
                </div>
                <input type="submit" value="Submit">
            </div>
        </form>
{%endblock%}