{% extends "base.html" %}
{% block title %}Stock Viewer{%endblock%}
{% block otherheaders%}
    <style>
        ul{
            list-style-type:none;
            margin-right: -5px;
        }
        #main *{
            margin:8px;
        }
        .float{
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
        }
        .float div{
            flex:1;
        }
        .stockitem{
            border: 4px solid black;
        }
    </style>
{%endblock%}
{%block main%}
    <h2>Stock Viewer</h2>
    <form id="search" action="{% url 'blog:stockpage' %}" method="get">
        <input name = "tic" type="text" id="inp" oninput="search()" autocomplete="off" placeholder="Enter Symbol" value={{placeholder}}>
    <form>
    <div class="float">
        <div class="matching">
                <ul id = "results">
                {%for tic in stocklist %}
                    <li><a href="{% url 'blog:stockpick' tic%}">{{tic}}</a></li>
                {% endfor %}
                </ul>
        </div>
        {% block stockpicked %}
        {%endblock%}
    </div>
    <script>
        var input = document.getElementById("inp");
        input.addEventListener('input',ev=>{
            if(!input.value.trim()){
                document.getElementById("results").innerHTML="";
            }
        });
        input.addEventListen('keyup', function(event)=>{
            if(event.keyCode===13){
                document.forms["search"].submit();
            }
        })
    </script>
{%endblock%}