body{
    background-color: rgb(6, 41, 41);
    margin-left: 25px;
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E6E3E6
}
h1,h2,h3,h4,h5{
    color: white;
    margin: 0px;
    padding:0px;
}
p{
    margin: 0px;
    padding:0px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:black;
}
.list{
    margin: 30px;
    border: 2px solid black;
    border-radius: 1px;
    padding: 1.2em 1em;
}
textarea{    /*this is for the input */
    width:20rem;
    height:20rem;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.input .title{
    color: white;
    margin: 20px 0;
}
.input .text{
    color: white;
    margin: 20px 0;
}
input[type="submit"]{
    color: black;
}
input[type="text"]{
    width: 60%;
    font-size:16px;
    font-family: "Courier New", Courier, monospace;
    color: black;
}
h5{
    padding-left: 5px;
}
.bodytext{   /* blog post body */
    font-family: Georgia,"Times New Roman",serif;
    line-height: 1.3;
    text-indent: 1em;
    padding-top: 10px;
}



nav ul {
	padding: 0;
	margin: 0 auto;
	height: 40px;
}
nav li {
	display: inline;
    float: left;
    
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #8c99a4;
}
nav {
	height: 40px;
	width: 100%;
	background: rgb(6, 41, 41);
	font-size: 10pt;
	font-weight: bold;
    position: relative;
    border-bottom-style: double;
}
nav a#pull {
	display: none;
}

.button{
    font-size: 1em;
    background-color: white;
    color: black;
}

#main{
    padding-top: 10px;
    margin-left: 2%;
}

.stockitem{
    
}

.price{
    font-size: 1.2em;
    color:green;
}
