frontendreact/
.sqlite3
node_modules
__pycache__
static/
samplegraph/node_modules
samplegraph/webpack.config.js
samplegraph/package.json
samplegraph/package-lock.json
samplegraph/.babelrc
samplegraph/src
cors-json.json
db.sqlite3
