<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="stylesheet" type="text/css" href="https://sdan.cc/assets/css/colorgrad.css">
    {%load static%}
    <link rel="manifest" href="{% static "samplegraph/manifest.json" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" >
    <link rel="shortcut icon" type="image/png" href="{% static 'samplegraph/favicon.ico' %}"/>
    <script src="https://unpkg.com/lightweight-charts@1.0.0-rc.3/dist/lightweight-charts.standalone.production.js"></script>
    <title>Charting</title>
  </head>
  <body>
    <div id="base"></div>
  </body>
  <script src="{% static "samplegraph/main.js" %}"></script>
</html>